.attendee-detail-container{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.attendee-detail{
    display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(21, 50, 25);
	min-height: auto;
    max-width: 80vw;
    min-width: 40vw;
	margin: 0 10px 60px 10px;
	border-radius: 15px;
    
}

.logo {
	margin-top: 10px;
}

.map{
margin: 20px;
}

/* add this media query for smaller screens */
@media (max-width: 767px) {
	.attendee-detail {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
  
	/* adjust the width of the logo */
	.attendee-detail img {
	  width: 80%;
	  max-width: 300px;
	}
  
	/* adjust the width of the attendee image */
	.attendee-detail .img img {
	  width: 80%;
	  max-width: 300px;
	}
  
	/* adjust the size of the map */
	/* .attendee-detail .map {
	  width: 30%;
	} */
  }