
.top-nav-container {
    display: grid;
    background-color: black;
  }
  
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* add padding to the top-nav */
  }
  
  .nav {
    display: flex;
    align-items: center; /* add align-items */
    font-family: sans-serif;
    font-size: min(4vw, 24px);
    justify-content: center;
    padding: 1rem;
    flex-grow: 1; /* add flex-grow to fill the remaining space */
  }
  
  .navlogo {
    width: 150px;
    height: 150px;
  }
  .headlogo {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1; /* add flex-grow to fill the remaining space */
  }
  
  #update {
    text-align: center;
    max-width: 180px;
    max-height: 100px;
    flex-grow: 1; /* add flex-grow to fill the remaining space */
  }
  
  #logout {
    margin-left: auto;
    max-width: 180px;
  }
  

.welcome{
    font-size: min(4vw, 24px);
    font-style: italic;
    color: green;
    background-color: black;
    padding: 0 1rem;
}
.nav > .link{
    width: 80%;
	background-color: darkslategray;
	color: antiquewhite;
	border: none;
	border-radius: 10px;
	padding: 8px 16px;
	text-align: center;
	font-size: min(2.5vw, 24px);
	text-decoration: none;
	transition-duration: 0.4s;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav > .link:hover{
	color: rgb(65, 65, 65);
}
.divider{
    color: green;
    font-size: x-large;
}